{% extends "home/about.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('About'), controller='home', action='about' %}</li>
  <li class="active">{% link_for _(title), controller='ckanext.ccca.controllers.about:AboutController', action='news_archive' %}</li>
{% endblock %}


{% block about_content %}
    <h1 class="page-heading">{{ title }}</h1>

    <p>
    {% for type in files %}

        {% if type[0]['format'] == 'Link' %}
        {% else %}
        Download:
        {% endif%}

        <em>{{type[0]['format']}} - </em>
        {% for f in type %}
              {% if type[0]['format'] == 'Link' %}
                  <a href={{ f['url'] }} target="_blank">{{ f['name']}}</a>&nbsp;&nbsp;
              {% else %}
                  <a href={{ f['url'] }}>{{ f['name']}}</a>&nbsp;&nbsp;
              {% endif%}
        {% endfor %}
        <br>
    {% endfor %}

    </p>
    <br>


    {% for item in news %}
      <h1 class="module-heading">{{h.render_datetime(item['created'], with_hours=False, date_format='%A, %d. %B %Y')}}</h1>
      <p>{{h.render_markdown(item['description'])}}</p>
      <br>
    {% endfor %}

{% endblock %}
