{% extends "home/about.html" %}

{% block subtitle %}{{ title }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('About'), controller='home', action='about' %}</li>
  <li class="active">{% link_for _(title), controller='ckanext.ccca.controllers.about:AboutController', action='usage' %}</li>
{% endblock %}

{% block about_content %}

    <h1 class="page-heading">{{ title }}</h1>


<h2>User Management:</h2>
<p>
Every user of our server who registered using a valid Emailaddress of a {% link_for  _('CCCA Member Organization'), controller='ckanext.ccca.controllers.organizations:CCCAOrganizationController', action='index', q='', sort='name' %}
is now associated  with the respective Organization as an "Editor".
 Users with the role "Editor" are able to create datapackages and upload their own resources.
</p>
<p>
Users of organizations external to the CCCA is associated with the Organization "CCCA Extern".
Users of this organization have the possibility to create subsets of existing resources and create datapackages comprising links. However, these users are not authorized to upload own resources. We kindly encourage these users to consider a CCCA membership for their organizations in order to experience the full functionality of CADS.
</p>
<p>
If you create a datapackage you are able to decide whether you want to make it publically  available or keep it private for testing purposes. Private datasets are not viewable  by other Editors of the same organization. Only Admins of an organization are able to view foreign private datasets.
</p>
<p>
Logged in users are able to see an overview of existing CADS users   {% link_for  _('here'), controller='user', action='index' %}
</p>


<h2>Shared private  Respositories:</h2>
If you intend to create a private datapackage which you would like to share with other users please contact
{{ h.mail_to(email_address='datenzentrum@ccca.ac.at', name='us') }}:
we are happy to provide  as well the possibility to manage shared private respositories.


<h2>Resource Upload:</h2>
CADS provides a very comfortable possibility to upload extremly large resources (>> 1 GB).
This is a relatively unique feature even worldwide.
Also, users have the possibility to decide for every uploaded resource
*individually* whether they would like to grant anonymous access for it or prefer the
usage only for logged in CADS users.


<h2>Group Datasets:</h2>
Registered users are able to group their datapackages  according to their own preferences.
 Thus every user is able to create {% link_for  _('groups'), controller='group', action='index' %} groups and add datapackages for easy access and usage.


<h2>Metadata Editor:</h2>

CADS provides a very comfortable and self explaining possibility to enter the metadata regarding your datasets. Only a minimum amount of fields are required and many fields are filled with default values (eg contact information) which can be changed easily if required. Although only a minimum amount of information is required to create a datapackage we kindly encourage our users to enter as many information as possible to make the datapackage internationally retrievable. A process bar helps to estimate the amount of remaining fields.


<h2>Metadata Export:</h2>
Once entered CADS is able to export the metadata in various, standardized formats thus enabling the user to register her/his datapackage easily with other Data Servers worldwide.



<h2>Keyword Tag Vocabulary:</h2>
An important point with respect to the international retrievability of a
datapackage is to associate fitting keywords. To support our users CADS comprises so
 called "tag vocabularies" i.e. standardized keywords. CADS currently supports
 <a href="http://www.eionet.europa.eu/gemet" target="_blank">  GEMET vocabularies</a>
 and <a href="http://cfconventions.org/standard-names.html" target="_blank">CF conventions</a>
  and suggests fitting
  terms based on an intelligent autocompletion method.


<h2>Data Citation:</h2>

If a user decides to make her/his datapackage publically
 accessible the CCCA Datacenter provides automatically a <a href="http://hdl.ccca.ac.at" target="_blank">unique identifier</a> for this datapackage.
 Thus this datapackage is citable with a permanent link in the internet.
 The identifier is comparable to the ISBN number for books.
 (for more information compare also  "DOI" - Digital Object Identifier)


<h2>Resource Versions:</h2>

Sometimes resources need an update due to various reasons.
The CCCA Datacentre  provides the possibility to create a <i>version</i> of the respective resource:
Simply upload the new resource via the existing  resource page and a new version of the resource is automatically
generated. An example can be found here:
<a href="https://data.ccca.ac.at/dataset/oks15-bias-corrected-euro-cordex-models-temperature/resource/1dba52b2-4fd0-4fa1-a3ac-cfb0b94a7670">
  ÖKS Euro-Cordex </a>.
The CADS Version Management System is able to deal with versions of resources and
 thus guarantees errorfree and permanent citability even if revisions of resources exist.


<h2>Subset Creation:</h2>

A popular data format is "NetCDF"; however, respective resources are often large
 and comprise many data a user might not be interested in, eg. a whole area where
 the user just needs a town or various layers where the user just needs one.
 CADS provides the possibility to create and store citable (!) subsets of existing data.
 Try it for example here: <a href="https://data.ccca.ac.at/dataset/oeks15-climate-change-signal-of-global-radiation-indices/resource/ff5f652e-4243-40f6-b077-c2c15adfa6c3">
   ÖKS climate change</a>




<h2>Innovative Resource Previews available:</h2>

In order to view data in the popular format NetCDF an interested user normally
 needs to install the respective software on his system.
 However, CADS provides the possibility to preview NetCDF files on the
 fly with almost the full functionality without downloading
 the file and installing the respective software. This service is only available for logged in users.
See for example <a href="https://data.ccca.ac.at/dataset/oks15-bias-corrected-euro-cordex-models-global-radiation/resource/0911c5ff-1087-45c6-abdd-3af4440bd38e">
  here</a>
<br>
Besides the standard possibilities (as e.g. to view and graph EXCEL/CSV Files)
CADS provides the possibility to upload and associate illustrative images with
your resources thus enabling the user to present her/his data in a quick and
informative manner. Just create a new view for your resource and select 'gallery'.
An example can be found here: <a href="https://data.ccca.ac.at/dataset/3pclim-entwi/resource/2e88a98c-9212-4aef-9631-9bc14d4557ae?view_id=24973411-d47f-43de-a019-93c6aa09d175">
  3Pclim</a>


<h2>Filter Possibilities:</h2>


For easy searching and finding CADS provides the user with a considerable amount of filters (even based on individual resource parameter).
<a href="https://data.ccca.ac.at/dataset?res_format=NetCDF&tags=climate+change&res_extras_par_frequency=annual"> Example.</a>


<h2>API:</h2>
For experienced users CADS provides the possibility to upload and retrieve our data via a programmable interface.


<h2>Under development:</h2>
Currently we are working on the following features:
<ul>
<li> Ongoing optimization of all existing features to improve the performance of our system and the user comfort when using CADS.</il>
<li> An innovative and easy to use and update frontpage for CADS which will provide the user with at-a-glance information on new features and datapackages</il>
<li> A CADS monitoring system which enables the user to see how often and by whom his resources was downloaded or viewed.</il>
<li> An email notification feature which allows the user to receive emails on dataset she/he follows.
</ul>
<p>
If you have any questions please do not hesitate to contact {{ h.mail_to(email_address='datenzentrum@ccca.ac.at', name='us') }}.
</p>



{% endblock %}
