.icon-box-02, .icon-box-02 a {
  -webkit-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
.icon-box-02 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background: #fff;
  border-width: 1px 0 1px 1px;
  border-color: #eee;
  border-style: solid;
  padding: 40px 30px 30px;
}
@media (min-width: 768px) {
  .icon-box-02 {
    float: none;
    display: table-cell;
  }
}
.icon-box-02:hover {
  background: #eee;
}
.icon-box-02.last {
  border-right-width: 1px;
}
.icon-box-02 .livicon-evo {
  margin: 0 auto 30px;
}
.icon-box-02 h4 {
  margin-bottom: 20px;
}
.icon-box-02 p {
  color: #777;
}

/************ Icon box 03 ************/
.icon-box-03 .sub-wrapper {
  -webkit-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
.icon-box-03 .icon-wrapper {
  float: none;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 40px auto 20px;
}
.icon-box-03 .sub-wrapper {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 108px;
  height: 108px;
  opacity: 0.62;
}
.icon-box-03 .livicon-evo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}
.icon-box-03 .icon-wrapper:hover .sub-wrapper {
  opacity: 1;
}
.icon-box-03 .text-wrapper {
  text-align: center;
}
.icon-box-03 h4 {
  color: #2C3F50;
  font-size: 17px;
  font-weight: 700;
  margin: 0 0 10px;
}
.icon-box-03 p {
  color:#777;
}
.icon-box-03 .icon-wrapper.bg1 {
  background-color: #30778d;
}
.icon-box-03 .icon-wrapper.bg1 .sub-wrapper {
  background-color: #30778d;
  border: 1px solid #30778d;
}
.icon-box-03 .icon-wrapper.bg1:hover .sub-wrapper {
  background-color: #3d97b3;
  border-color: #fff;
}

@media (min-width: 768px) {
  .icon-box-03 {
    margin: 20px 0 20px;
  }
  .icon-box-03 .icon-wrapper.right {
    float: right;
    margin-top: 2px;
    margin-left: 20px;
  }
  .icon-box-03 .text-wrapper.right {
    text-align: right;
  }
  .icon-box-03 .icon-wrapper.left {
    float: left;
    margin-top: 2px;
    margin-right: 20px;
  }
  .icon-box-03 .text-wrapper.left {
    text-align: left;
  }
}
