{% import 'macros/form.html' as form %}

{% resource "ccca/ccca-dataset-visibility.js" %}

{% block package_basic_fields_title %}
{% endblock %}

{% block package_basic_fields_url %}
  {% set prefix = h.url_for(controller='package', action='read', id='') %}
  {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}
  
  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
{% endblock %}

{% block package_basic_fields_custom %}
{% endblock %}

{% block custom_fields %}
{% endblock %}

{% block package_basic_fields_description %}
{% endblock %}

{% block package_basic_fields_tags %}
{% endblock %}

{% block package_basic_fields_license %}
{% endblock %}

{% block package_metadata_fields_version %}
  {% endblock %}

  {% block package_metadata_fields_maintainer %}
  {% endblock %}

{% block package_basic_fields_org %}
{% endblock %}

{% block package_metadata_fields_visibility %}
      <div class="control-group">
        <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        <div class="controls">
          <select id="field-private" name="private">
            {% for option in [('True', _('Private')), ('False', _('Public'))] %}
            <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
            {% endfor %}
          </select>
          {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
		    <span class="info-block info-inline">
		      <i class="icon-info-sign"></i>
		      {% trans %}
		        Defines if a dataset is accessible for anyone or just by members of the author's organization. 
		      {% endtrans %}
		    </span>
        </div>
      </div>
       <div class="control-group">
        <label for="field-res_access" class="control-label">{{ _('Resource access') }}</label>
        <div class="controls">
          <select id="field-res_access" name="res_access">
            {% for option in [('True', _('Public')), ('False', _('Not public'))] %}
            <option value="{{ option[0] }}" {% if option[0] == data.res_access|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
            {% endfor %}
          </select>
          {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
		    <span class="info-block info-inline">
		      <i class="icon-info-sign"></i>
		      {% trans %}
		        Defines if resources of this dataset are publicly downloadable or just by members of the author's organization.
		      {% endtrans %}
		    </span>
        </div>
      </div>
    {% endblock %}
