<h1>CCCA Data Centre</h1>
<p>As a CCCA unit, the Data Centre provides a central national archive for
relevant climate data and information, ensuring access to data relevant for
climate research as well as to models, research resources, model results, and
literature. The data made accessible includes, for instance, observation and
measurement data, scenario data, quantitative and qualitative data, as well as
the measurement data and findings of research projects. The Data Centre serves
also as the data interface for the CCCA Service Centre by providing:</p>
<ul>
<li>centralized access to relevant meta-information on how to use and evaluate
the data provided</li>
<li>systematic documentation of and access to the findings of Austria-related
climate scenarios </li>
<li>providing contact information of data authors and experts to provide
detailed information on the available data. </li>
</ul>
<p>By establishing the CCCA Data Portal, the CCCA DC is inclined to promote
interoperability and collaboration between different science and research
communities in order to raise awareness on climate change and serve as a central
point for sharing knowledge and resources. </p>
<h1>CCCA Data Portal</h1>
<p>The CCCA Data Portal has a CKAN-based web API. CKAN is an open-source data
portal platform, providing data management tools facilitating publishing,
sharing, search and use of data, thus making available data more accessible and
retrievable. The CCCA Data Store Structure describes the technical requirements,
functionalities and their implementation architecture. </p>
<h2>Upload</h2>
<p>The first component is the Upload module. Here, data can be uploaded via
sftp, rsync or scp using <em>SSH</em> (Secure Shell) or via <em>HTTP</em>. By
uploading it, the dataset is physically stored on the Data Centre
infrastructure. This step requires an authentication, which means an institution
or a person receives personalized access. Optionally, data shall be made
available with regard to OGC standards and protocols. This means, for example,
composition of INSPIRE conform metadata, a Web Map view Service (WMS), as well
as a (INSPIRE compliant) download service (Web Coverage Service - WCS, Web
Feature Service - WFS). Using this upload function, the user can find his
uploaded datasets in a so called quarantine section.</p>
<h2>Metadata</h2>
<p>Describing metadata represents the second step. If the dataset is activated,
the user is directed to the CCCA MD editor. When all required fields are filled
in and the metadata are saved, this data appears in a “public” section. </p>
<h2>Publication</h2>
<p>The new dataset appears in the MD catalogue represented with its metadata,
and can then, with respect to license models, be made available to other
users.</p>
        
