<h1>Disclaimer</h1>
<h2>Copyright</h2>
<p>This website’s copyright is held by CCCA Data Centre, and used tolls if
specified. All rights reserved by the authors, except when otherwise stated.
Any duplication or use of objects from this website, such as diagrams, sounds
or texts in other electronic or printed publications is not permitted without
the author’s agreement.
The images in the starting page are courtesy of:</p>
<ul>
    <li>Wegener Center</li>
    <li>Uni Graz</li>
    <li>ÖKS15</li>
    <li>ZAMG</li>
</ul>
<p>And for the data and products catalogue:</p>
<ul>
    <li>The data provider, named as organisations and their contact point</li>
</ul>
<h2>Content</h2>
<p>The author reserves the right not to be responsible for the topicality,
correctness, completeness or quality of the information provided. Liability
claims regarding damage caused by the use of any information provided,
including any kind of information which is incomplete or incorrect, will
therefore be rejected. All offers are not-binding and without obligation. Parts
of the pages or the complete publication including all offers and information
might be extended, changed or partly or completely deleted by the author without
separate announcement.</p>
<h2>Referrals and links</h2>
<p>The CCCA Data Centre is not responsible for any contents linked or referred
to from his pages. If any damage occurs by the use of information presented
there, only the author of the respective pages might be liable, not the one who
has linked to these pages.</p>
<h2>Legal validity of this disclaimer</h2>
<p>This disclaimer is to be regarded as part of the internet publication which
you were referred from. If sections or individual terms of this statement are
not legal or correct, the content or validity of the other parts remain
uninfluenced by this fact.</p>
<h2>Technical Information</h2>
<p>We try to support most hardware and software settings to perform
satisfactory results when viewing this webpage. If you experience major
problems within this site, please let us know. We also tried to guarantee
maximum accessibility.</p>
