{% resource 'ccca/livicons' %}
<link rel="stylesheet" href="livicons_addition.css" />

<div role="main" class="hero">
      <div>
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
</div>
<div role="main">
  <div class="container">
    <div class="row">
      <div class="span6 col1">
        {# Note: this featured_group block is used as an example in the theming
           tutorial in the docs! If you change this code, be sure to check
           whether you need to update the docs. #}
        {# Start template block example. #}
        {# {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %} #}
        {# End template block example. #}
      </div>
      <div class="span6 col2">
          {% block offerings %}
            {% snippet 'home/snippets/offerings.html' %}
          {% endblock %}
          <br>
      </div>
      <div class="span6 col3">
          {% block news %}
            {% snippet 'home/snippets/news.html' %}
          {% endblock %}
      </div>
    </div>
</div>
