{# Anja 21.11.2016: Copied from ckan with modifications to include sorting by packages #}

{% ckan_extends %}

{% block primary %}
  <div class="primary col-md-12">
  {% block primary_content %}
    <article class="module">
      <div class="module-content">
        {% if self.page_primary_action() | trim %}
          <div class="page_primary_action">
            {% block page_primary_action %}
              {% if h.check_access('organization_create') %}
                {% link_for _('Add Organization'), controller='organization', action='new', class_='btn btn-success pull-right', icon='plus-sign-alt' %}
              {% endif %}
            {% endblock %}
          </div>
        {% endif %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Organizations') }}{% endblock %}</h1>
  {% snippet "organization/snippets/helper.html" %}
  {% block organizations_search_form %}

    {% set sorting = [
        (_('Dataset Quantity'), 'packages'),
        (_('Name Ascending'), 'name asc'),
        (_('Name Descending'), 'name desc')
        ]
      %}
    {% if c.sort_by_selected == None %}
        {% set selected_criteria = sorting[0] %}
    {% else %}
      {% set selected_criteria = c.sort_by_selected %}
    {% endif %}

  {#
   {% snippet 'snippets/search_form.html', form_id='organization-search-form', type='organization', query=c.q, sorting=sorting, sorting_selected=selected_criteria, count=c.page.item_count, placeholder=_('Search organizations...'), show_empty=request.params, no_bottom_border=true if c.page.items %}
  #}
   {% snippet 'snippets/search_form.html', form_id='organization-search-form', type='organization', query=c.q, sorting=sorting, sorting_selected=selected_criteria, count=c.page.item_count, placeholder=_('Search organizations...'), show_empty=request.params, no_bottom_border=true if c.page.items, no_title='small' %}
  {% endblock %}
  {% block organizations_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
  {% endblock %}
{% endblock %}


      </div>
    </article>
  {% endblock %}
  </div>
{% endblock %}

{% block secondary %}
  {#
  {% snippet "organization/snippets/helper.html" %}
  #}
{% endblock %}
