{% ckan_extends %}

{% block pre_primary %}
  {% snippet 'organization/snippets/ccca_organization.html', organization=c.group_dict, show_nums=true %}
  {{ super() }}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('organization_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
  {% if h.ccca_check_member(c, c.group_dict.id) %}
        {{ h.build_nav_icon('organization_list_members', _('Members'), id=c.group_dict.name) }}
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% block organization_facets %}
    {{ super() }}
  {% endblock %}
{% endblock %}
