{% ckan_extends %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{{ _('Groups') }}</h1>
  {% block groups_search_form %}
    {% snippet 'snippets/search_form.html', form_id='group-search-form', type='group', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search groups...'), show_empty=request.params, no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
  {% endblock %}

{% set type_of_groups = [] %}
{%- set schema = h.scheming_get_group_schema('group') -%}
{% set field = h.scheming_field_by_name(schema['fields'], 'type_of_group') %}
{% for choice in field['choices'] %}
  {% do type_of_groups.append(choice) %}
{% endfor %}

<ul class="nav nav-pills">
  <li class="active"><a data-toggle="pill" href="#home">All</a></li>
  {% for group in type_of_groups %}
    <li><a data-toggle="pill" href="#{{group['value']}}">{{ group['label'] }}</a></li>
  {% endfor %}
</ul>

<div class="pill-content">
  <div id="home" class="pill-pane fade in active">
    <h3>ALL</h3>
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "group/snippets/group_list.html", groups=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no groups for this site') }}.
        {% if h.check_access('group_create') %}
          {% link_for _('How about creating one?'), controller='group', action='new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  </div>
   {% for group_type in type_of_groups %}
      <div id="{{group_type['value']}}" class="pill-pane fade">
        <h3>{{ group_type['label'] }}</h3>
        {% if c.page.items or request.params %}
        {% set groups_of_correct_type = [] %}
          {% for item in c.page.items %}
            {% set group = h.ccca_group_show(item.id) %}
            {% if group['type_of_group'] == group_type['value'] %}
                {% do groups_of_correct_type.append(item) %}
            {% endif %}
          {% endfor %}
          {% if c.page.items %}
            {% snippet "group/snippets/group_list.html", groups=groups_of_correct_type %}
          {% endif %}
        {% else %}
          <p class="empty">
            {{ _('There are currently no groups for this site') }}.
            {% if h.check_access('group_create') %}
              {% link_for _('How about creating one?'), controller='group', action='new' %}</a>.
            {% endif %}
          </p>
        {% endif %}
      </div>
  {% endfor %}
</div>

{% endblock %}
