{% extends "package/edit_base.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Metadata') }} - {{ h.dataset_display_name(pkg) }}{% endblock %}

{% block page_primary_action %}

{% block form %}
	{% snippet 'package/snippets/ccca_metadata_form.html', form_style=form_style, data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, stage=stage, allow_upload=g.ofs_impl and logged_in, dataset_type=dataset_type %}
{% endblock %}
{% endblock %}
