{% ckan_extends %}

{% block page_primary_action %}
{{super()}}
  {% if h.check_access('package_create') %}
    {% link_for _('Add Dataset'), controller='package', action='new', class_="btn btn-success pull-right", icon="plus-sign-alt" %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">
    {% block page_heading %}{{ _('Datasets') }}{% endblock %}
  </h2>

  {% block package_list %}


  {# Anja. 2,11.2018: Check whether there are too much sets #}

  {% set max_sets = h.ccca_get_max_sets () %}
  {% set max_exceeded = false %}

  {% if c.is_myself  %}


      {# private sets must always be visible #}
      {% set private_sets = h.ccca_get_datasets_by_role('private', c.user)%}


      {% set creator_sets = h.ccca_get_datasets_by_role('creator', c.user)%}
      {% if  (max_sets > 0) and (creator_sets|length > max_sets) %}
          {% set max_exceeded = true %}
      {% endif %}

      {% if not max_exceeded %}
        {% set author_sets = h.ccca_get_datasets_by_role('author', c.user)%}
        {% if (max_sets>0) and (author_sets|length > max_sets) %}
            {% set max_exceeded = true %}
        {% endif %}
      {% else %}
          {% set author_sets = None %}
      {% endif %}

      {% if not max_exceeded %}
        {% set maintainer_sets = h.ccca_get_datasets_by_role('maintainer', c.user)%}
      {% else %}
          {% set maintainer_sets = None %}
      {% endif %}

  {% elif c.is_sysadmin  %} {# sysadmin gets same view as user #}

        {% set private_sets = h.ccca_get_datasets_for_others('private', c.user_dict['name']) %}
        {% set creator_sets = h.ccca_get_datasets_for_others('creator', c.user_dict['name']) %}

        {% if  (max_sets > 0) and (creator_sets|length > max_sets) %}
            {% set max_exceeded = true %}
        {% endif %}

      {% if not max_exceeded %}
        {% set author_sets = h.ccca_get_datasets_for_others('author', c.user_dict['name'])%}
        {% if (max_sets>0) and (author_sets|length > max_sets) %}
            {% set max_exceeded = true %}
        {% endif %}
      {% else %}
          {% set author_sets = None %}
      {% endif %}

      {% if not max_exceeded %}
        {% set maintainer_sets = h.ccca_get_datasets_for_others('maintainer', c.user_dict['name'])%}
      {% else %}
          {% set maintainer_sets = None %}
      {% endif %}

  {% endif %}

  {% if c.is_myself or c.is_sysadmin%}
      {% if not max_exceeded%}
          {% if creator_sets or author_sets or maintainer_sets or private_sets %}
            {% snippet 'user/snippets/sort_user_datasets.html', c=c, private_sets=private_sets,creator_sets=creator_sets, author_sets=author_sets, maintainer_sets=maintainer_sets %}
          {% else %}
            {% if c.is_myself %}
              <p class="empty">
                {{ _('You haven\'t created any datasets.') }}
                {% if h.check_access('package_create') %}
                  {% link_for _('Create one now?'), controller='package', action='new' %}
                {% endif %}
              </p>
            {% else %}
              <p class="empty">
                {{ _('User hasn\'t created any datasets.') }}
              </p>
            {% endif %}
          {% endif %}
      {% else %} {# if max_exceeded #}
        {# show creator_sets in the tradional way #}
        <div id="accordion" role="tablist">
          {% snippet 'user/snippets/sort_user_datasets.html', c=c, private_sets=private_sets, creator_sets=creator_sets, author_sets=author_sets, maintainer_sets=maintainer_sets %}
          <br>
        </div> {#} Accordeon {#}
        {% if c.is_sysadmin %}
        <h4> Query datasets by role for user {{c.user_dict.fullname}}:</h4>
        {% else %}
          <h4> Query datasets by my role:</h4>
        {% endif %}
        <a href="{% url_for controller='package', action='search', maintainer=c.user_dict.fullname %}" class="btn btn-primary" >{{ _('Maintainer') }}</a>
        <a href="{% url_for controller='package', action='search', author=c.user_dict.fullname%}" class="btn btn-primary" >{{ _('Author') }}</a>
      {% endif %}

  {% else %} {# all other normal users #}
   <h4> Query datasets by role for user {{c.user_dict.fullname}}:</h4>
    <a href="{% url_for controller='package', action='search', maintainer=c.user_dict.fullname %}" class="btn btn-primary" >{{ _('Maintainer') }}</a>
    <a href="{% url_for controller='package', action='search', author=c.user_dict.fullname%}" class="btn btn-primary" >{{ _('Author') }}</a>
  {% endif %}
  {% endblock %}
{% endblock %}
