{% extends "user/read_base.html" %}



{% block page_primary_action %}
  {% if h.check_access('package_create') %}
    {% link_for _('Add Dataset'), controller='package', action='new', class_="btn btn-success pull-right", icon="plus-sign-alt" %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">
    {% block page_heading %}{{ _('Datasets') }}{% endblock %}
  </h2>

  {% block package_list %}

  {% if c.is_myself %}
      {% set creator_sets = c.user_dict.datasets %}
      {% set author_sets = h.ccca_get_datasets_by_role('author', c.user)%}
      {% set maintainer_sets = h.ccca_get_datasets_by_role('maintainer', c.user)%}
  {% else %}
      {% set creator_sets = h.ccca_get_datasets_for_others('creator', c.user_dict['name']) %}
      {% set author_sets = h.ccca_get_datasets_for_others('author', c.user_dict['name'])%}
      {% set maintainer_sets = h.ccca_get_datasets_for_others('maintainer', c.user_dict['name'])%}
  {% endif %}
  {% if creator_sets or author_sets or maintainer_sets %}
    {% snippet 'user/snippets/sort_user_datasets.html', c=c, creator_sets=creator_sets, author_sets=author_sets, maintainer_sets=maintainer_sets %}
  {% else %}
    {% if c.is_myself %}
      <p class="empty">
        {{ _('You haven\'t created any datasets.') }}
        {% if h.check_access('package_create') %}
          {% link_for _('Create one now?'), controller='package', action='new' %}
        {% endif %}
      </p>
    {% else %}
      <p class="empty">
        {{ _('User hasn\'t created any datasets.') }}
      </p>
    {% endif %}
  {% endif %}
  {% endblock %}
{% endblock %}
