<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Categories?') }}
  </h2>
  <div class="module-content">
    <p>
        Categories are assigned to each Dataset
        within the "Keywords" tab of the Metadata Editor.
        We support the following categories according to
        Inspire and  ISO:
        {#} (TopicCategory)  (tpCat)  19115 {#}
        {#} Copernicus Categories  http://climate.copernicus.eu/about-c3s {#}
        {#} definitions found here: https://www2.usgs.gov/science/about/thesaurus-full.php?thcode=15{#}
    </p>
    <p>
        <strong>Agriculture and Forestry</strong>:<br>
        Rearing of animals or cultivation of plants.
        <a href="http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/farming" target ="_blank">(Definition)</a>
    </p>
    <p>
        <strong>Phenology</strong>:<br>
        Flora and/or fauna in natural environment.
        <a href="http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/biota" target ="_blank">(Definition)</a>
    </p>
    <p>
       <strong>Meteorology/Climatology</strong>: <br>
       Processes and phenomena of the atmosphere.
       <a href="http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/climatologyMeteorologyAtmosphere" target ="_blank">(Definition)</a>
    </p>
    <p>
      <strong>Tourism</strong>:<br>
      Economic activities, conditions and employment
     <a href="http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/economy" target ="_blank">(Definition)</a>
    </p>
    <p>
      <strong>Health</strong>: <br>
      Health, health services, human ecology, and safety.
      <a href="http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/health" target ="_blank">(Definition)</a>
    </p>
    <p>
      <strong>Water Management/Hydrology</strong>: <br>
      Inland water features, drainage systems and characteristics.
      <a href="http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/inlandWaters" target ="_blank">(Definition)</a>
    </p>
    <p>
      <strong>Infrastructure</strong>:<br>
      Man-made construction.
      <a href="http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/structure" target ="_blank">(Definition)</a>
    </p>
    <p>
      <strong>Transport</strong>):<br>
      Means and aids for conveying persons or goods.
      <a href="http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/transportation" target ="_blank">(Definition)</a>
    </p>
    <p>
      <strong>Energy</strong>:<br>
      Energy, water and waste systems and communications infrastructure and services.
      <a href="http://inspire.ec.europa.eu/metadata-codelist/TopicCategory/utilitiesCommunication" target ="_blank">(Definition)</a>
    </p>
    <p>
    <strong>  Disaster/Risk Reduction:</strong><br>
       Systematic approaches identifying, assessing and reducing the risks of disaster
       <a href="https://en.wikipedia.org/wiki/Disaster_risk_reduction" target ="_blank">(Explanation)</a>.
      See also <a href="http://climate.copernicus.eu/resources/information-service/climate-change-impact-disaster-risk-reduction" target ="_blank">Copernicus</a>
    </p>
  </div>
</div>
