<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Categories?') }}
  </h2>
  <div class="module-content">
    <p>
        Categories are assigned to each Datapackage
        within the "Keywords" tab of the Metadata Editor.
        We support the following categories according to
        Inspire (TopicCategory) and  ISO 19115 (tpCat):
        {#} definitions found here: https://www2.usgs.gov/science/about/thesaurus-full.php?thcode=15{#}
    </p>
    <p>
        <strong>Agriculture and Forestry</strong> (ISO "farming"):<br>
        Rearing of animals or cultivation of plants, for example agriculture, irrigation, aquaculture, plantations, herding, pests and diseases affecting crops and livestock
    </p>
    <p>
        <strong>Phenology</strong> (ISO "biota"):<br>
        Flora or fauna in natural environment, for example wildlife, vegetation, biological sciences, ecology, wilderness, sea life, wetlands, habitat, biological resources
    </p>
    <p>
       <strong>Meteorology/Climatology</strong> (ISO "climatology, meteorology, atmosphere"): <br>
       Processes and phenomena of the atmosphere, for example cloud cover, weather, climate, atmospheric conditions, climate change, precipitation
    </p>
    <p>
      <strong>Tourism</strong> (ISO "economy"):<br>
      Economic activities, conditions, and employment, for example production, labor, revenue, business, commerce, industry, tourism and ecotourism, forestry, fisheries, commercial or subsistence hunting, exploration and exploitation of resources such as minerals, oil and gas
    </p>
    <p>
      <strong>Health</strong> (ISO "health"): <br>
      Health, health services, human ecology, and safety, for example disease and illness, factors affecting health, hygiene, substance abuse, mental and physical health, health services, health care providers, public health
    </p>
    <p>
      <strong>Water Management/Hydrology</strong> (ISO: "inland waters"): <br>
      Inland water features, drainage systems and characteristics, for example rivers and glaciers, salt lakes, water utilization plans, dams, currents, floods and flood hazards, water quality, hydrographic charts, watersheds, wetlands, hydrography
    </p>
    <p>
      <strong>Infrastructure</strong> (ISO: "structure"):<br>
      Man-made construction, for example buildings, museums, churches, factories, housing, monuments, shops, towers, building footprints, architectural and structural plans
    </p>
    <p>
      <strong>Transport</strong> (ISO: "transportation"):<br>
      Means and aids for conveying persons or goods, for example roads, airports/airstrips, shipping routes, tunnels nautical charts, vehicle or vessel location, aeronautical charts, railways
    </p>
    <p>
      <strong>Energy</strong> (ISO: "utilities communication"):<br>
      Energy, water and waste systems and communications infrastructure and services, for example hydroelectricity, geothermal, solar and nuclear sources of energy, water purification and distribution, sewage collection and disposal, electricity and gas distribution, data communication, telecommunication, radio, communication networks
    </p>
    <p>
    <strong>  Disaster/Risk Reduction:</strong><br>
      See e.g. <a href="http://climate.copernicus.eu/resources/information-service/climate-change-impact-disaster-risk-reduction" target ="_blank">Copernicus</a>
    </p>
  </div>
</div>
