{% block news %}

<div class="box adapt_for_one_column_margin ">
  <section class="group-list module module-narrow module-shallow">

<header class="module-heading">
  {% if h.ccca_check_news_archive() %}
 <h3 class="media-heading">{% link_for _('News:'), controller='ckanext.ccca.controllers.about:AboutController', action='news_archive' %}<span> {{g.site_about}}</span></h3>
 {% else %}
 <h3 class="media-heading"><span style="color:#005d7a;">News: </span><span>{{g.site_about}}</span></h3>
 {% endif %}
</header>

<div class="module-content">
  {% set news = g.site_intro_text %}
  {% if news %}
    {{ h.render_markdown(news) }}
  {% else %}
  We are happy to introduce a range of improvements for the <strong>CCCA Data Server (CADS)</strong>.
  Find out more about the usage and features of <strong>CADS</strong> in the {% link_for _('Usage Information'), controller='ckanext.ccca.controllers.about:AboutController', action='usage' %}
  {% endif %}
</div>
</section>
</div>

{% endblock %}
