{% block news %}
{% if h.ccca_check_news() %}

<div class="box adapt_for_one_column_margin">
<section class="group-list module module-narrow module-shallow">

<header class="news-heading">
<a href="{{ h.url_for(controller='ckanext.ccca.controllers.about:AboutController', action='news_archive')}}"  style="border:0;text-decoration:none;">
<img  src="{{ h.url_for_static('/images/news.png')}}" alt="News"/>
</a>
{% set news = h.ccca_get_news() %}
{% if news %}
   <strong class="news-date">{{h.render_datetime(news['created'], with_hours=False, date_format='%A, %d. %B %Y')}}</strong>
{% endif %}
</header>


<div class="module-content">
{% if news %}
    {{ h.render_markdown(news['description']) }}
{% endif %}
</div>

</section>
</div>
{% endif %}
{% endblock %}
