<!-- Icon box 02 -->
<div class="container">
    <div class="row table-cell-row">
        <div class="icon-box-02 col-sm-4 col-xs-12">
            <div>
                <div class="livicon-evo" data-options="
                    name: share.svg;
                    eventOn: grandparent;
                    drawOnViewport: true
                "></div>
                <h4 class="text-center"><a href="{{ h.url('/about/usage') }}">Connect</a></h4>
                <p class="text-center">We promote interoperability and collaboration between different science and research communities.
                <br><br>
                <b>Our Goal</b>: to raise awareness on climate change and serve as a central point for sharing knowledge and resources</p>
            </div>
        </div>
        <div class="icon-box-02 col-sm-4 col-xs-12">
            <div>
                <div class="livicon-evo" data-options="
                    name: servers.svg;
                    eventOn: grandparent;
                    drawOnViewport: true
                "></div>
                <h4 class="text-center"><a href="{{ h.url('about') }}">Services</a></h4>
                <p class="text-center">Possibility of publishing and retrieving resources, centralized access to relevant meta-information, on the fly preview of NetCDF files and the possibility to create subsets of large NetCDF files. </p>
            </div>
        </div>
        <div class="icon-box-02 col-sm-4 col-xs-12 last">
            <div>
                <div class="livicon-evo" data-options="
                    name: bulb.svg;
                    eventOn: grandparent;
                    drawOnViewport: true
                "></div>
                <h4 class="text-center"><a href="{{ h.url_for('contact_form') }}" title="{{ _('Contact') }}">Quick Help</a></h4>
                <p class="text-center">For any questions regarding the Data Centre or access and use of the Data Server, please contact us. We are looking forward to hearing from you!</p>
            </div>
        </div>
    </div>
</div>
