{# Anja 10.11  Copied from CKAN with modifications #}
{#}
{% set intro = g.site_intro_text %}
{#}
<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h3 class="page-heading adapt_for_smartphone_text">{{ _("Welcome to the CCCA Data Server") }}</h3>
      {% trans %}
      <p class="adapt_for_smartphone_text">
      The CCCA Data Server provides the central national archive for climate data and information.
      <br>
      The data made accessible includes observation and measurement data, scenario data, quantitative and qualitative data, as well as the measurement data and findings of research projects.
      Our infrastructure is hosted by the
      <a href="http://zamg.ac.at" target="_blank">ZAMG</a>.
      <br><br>
    </p>
      {% endtrans %}
      {% trans %} <strong>Explore our possibilities:</strong>  {% endtrans %}
    {% endif %}
  </header>

  {% block home_image %}
    <section class="featured">
      <h2 class="media-heading ccca-heading"></h2>
      {% block home_image_content %}
        <a class="media-image" href="/dataset">
          <img src="/images/Temperature.gif" alt="Featured image"  width="1022" height="688" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
