{% resource 'ccca/livicons' %}

{% extends "page.html" %}

{% block subtitle %}{{ gettext('Error %(error_code)s', error_code=c.code[0]) }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{{ _('Page not found') }}</li>
{% endblock %}

{% block page_title %}
<h1>{{ _('Page not found') }}</h1>
{% endblock %}

{% block primary_content %}
  <section class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        {% if c.code and  c.code[0] == '404' %}
        <p class="lead">{{ c.content}}</p>
        <h1>&#x1f62f;</h1>
        {% else %}
        {# TODO create more specific error message. Maybe with: {{ c.content }} and {{ c.code[0] }} #}
        <p class="lead">{{ _("There was a problem. Here is a bug!") }}</p>
        <p class="livicon-evo center-block" data-options="
            name: bug.svg;
            eventOn: grandparent;
            drawOnViewport: true
        "></p>
        {% endif %}
        </div>
    </div>
  </section>
{% endblock %}

{% block flash %}
  {# eat the flash messages caused by the 404 #}
  {% set flash_messages = h.flash.pop_messages() %}
{% endblock %}
