<link rel="stylesheet" href="/ccca-theme.css" />
<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div>
      <div class="footer-links footerdiv">
        {% block footer_nav %}
          <ul class="unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}">CCCA Data Centre</a></li>
              {% link_for _('Disclaimer'), controller='ckanext.ccca.controllers.disclaimer:DisclaimerController', action='disclaimer' %}
            {% endblock %}
          </ul>
          <ul class="unstyled">
            {% block footer_links_ckan %}
              {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
              <li><a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}"></a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <div class="footerdiv">
          <a href="http://www.re3data.org/repository/r3d100012288"><img src="/images/re3data_badge.png" height="100" style="margin-bottom:20px"></a>
      </div>
      <div class="attribution footerdiv">
        {% block footer_attribution %}
          <p>{% trans %}<strong>Based on</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
        <p>
            <a href="https://www.ccca.ac.at/"><img src="/images/CCCA_Logo_RGB_transparent-2.png" height="30" width="100"></a>
            &nbsp;
            <a href="https://www.zamg.ac.at/"><img src="/images/zamg_white_WBM_normal_kurz.png" height="30" width="100"></a>
        </p>
      </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
