{% set stats = h.get_site_statistics() %}

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-6">
        <a href="{{ h.url_for(controller='package', action='search') }}">
          {% set dataset_count = h.SI_number_span(stats.dataset_count) %}
          <div class="statsnumber">
            {{ dataset_count }} <i class="icon-file"></i>
          </div>
          <p>{{ ungettext('Dataset', 'Datasets', dataset_count) }}</p>
        </a>
      </div>
      <div class="col-sm-4 col-xs-6">
        <a href="{{ h.url_for(controller='organization', action='index') }}">
          {% set org_count = h.SI_number_span(stats.organization_count) %}
          <div class="statsnumber">
            {{ org_count }} <i class="icon-user"></i>
          </div>
          <p>{{ ungettext('Organization', 'Organizations', org_count) }}</p>
        </a>
      </div>
      <div class="col-sm-4 col-xs-6">
        <a href="{{ h.url_for(controller='group', action='index') }}">
          {% set group_count = h.SI_number_span(stats.group_count) %}
          <div class="statsnumber">
            {{ group_count }} <i class="icon-tags"></i>
          </div>
          <p>{{ ungettext('Group', 'Groups', group_count) }}</p>
        </a>
      </div>
    </div>
    <hr style="width: 100%; color: white; height: 1px; background-color:white;" />
    <div class="row top-buffer">
      <div class="col-md-3 col-xs-6">
        <div>
          <ul class="list-unstyled">
            <li><a href="{{ h.url_for(controller='group', action='index') }}">{{ _('Groups') }}</a></li>
            <li><a href="{{ h.url_for(controller='organization', action='index') }}">{{ _('Organizations') }}</a></li>
            <li><a href="{{ h.url_for(controller='package', action='search') }}">{{ _('Data') }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div>
          <ul class="list-unstyled">
            <li><a href="{{ h.url('/about') }}">{{ _('About') }}</a></li>
            <li><a href="{{ h.url('/contact') }}">{{ _('Contact') }}</a></li>
            <li><a href="{{ h.url('/disclaimer') }}">{{ _('Disclaimer') }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div>
          <ul class="list-unstyled">
            <li><a href="http://docs.ckan.org/en/latest/api/index.html" target="_blank">{{ _('API') }}</a></li>
            <li><a href="https://github.com/ccca-dc" target="_blank">{{ _('Sourcecode') }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-xs-6 col-md-offset-1">
      <strong>Based on</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>
      </div>
    </div>
    <hr style="width: 100%; color: white; height: 1px; background-color:white;" />
    <div class="row">
      <div class="col-md-3 col-xs-4">
        <a href="http://www.re3data.org/repository/r3d100012288"><img class="img-responsive" src="/images/re3data_badge.png"></a>
      </div>
      <div class="col-md-4 col-md-offset-1 col-xs-4">
        <a href="https://forschungsinfrastruktur.bmbwf.gv.at/de/fi/ccca-data-centre_3392"><img class="img-responsive" src="/images/forschungsinfrastruktur_logo.png"></a>
      </div>
      <div class="col-md-3 col-md-offset-1 col-xs-4">
        <a href="https://www.zamg.ac.at/"><img class="img-responsive" src="/images/zamg_white_WBM_normal_kurz.png"></a>
      </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-2 col-xs-3">
            <a href="http://vsc.ac.at/"><img class="img-responsive" src="/images/logo_vsc.gif"></a>
        </div>
        <div class="col-md-2 col-md-offset-3 col-xs-3 col-xs-offset-2">
            <a href="https://www.klimafonds.gv.at/"><img class="img-responsive" src="/images/klimafonds_2D_white.png"></a>
        </div>
        <div class="col-md-2 col-md-offset-3 col-xs-3 col-xs-offset-1">
            <a href="https://www.rd-alliance.org/"><img class="img-responsive" src="/images/RDA_Logo_1.svg"></a>
        </div>
    </div>
  </div>
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
