{% resource 'ccca/introjs' %}
{% resource 'ccca/introjs_addition.css' %}

{% ckan_extends %}

<!-- Remove search bar -->
{% block header_wrapper %}

{% block header_account %}
  <header class="account-masthead">
    <div class="container">    {% block header_account_container_content %}
    {% if c.userobj %}
      <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
        <ul class="unstyled">
          {% block header_account_logged %}
          {% if c.userobj.sysadmin %}
            <li>
              <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                <i class="icon-legal" aria-hidden="true"></i>
                <span class="text">{{ _('Admin') }}</span>
              </a>
            </li>
          {% endif %}
          <li>
            <span data-intro-group="explain-header" data-tooltipclass='introjs-ttip'  data-intro='Hi, let me explain this header bar to you! Click here to see your profile information, your Datasets and a log of your recent activities.' data-step="1">
            <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
              {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username"  >{{ c.userobj.display_name }}</span>
              </a>
              </span>
          </li>
          {% set new_activities = h.new_activities() %}
          <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
            <span data-intro-group="explain-header" data-tooltipclass='introjs-ttip'  data-intro='Clicking here leads you to your Dashboad. Your Dashboard contains the News Feed, thus the overview of news on all items your are following (The number indicates how many news you have). Furthermore you find information about your organizations and - in case - information about the groups your dataset(s) belong to.' data-step="2">
            {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
            <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
              <i class="icon-dashboard" aria-hidden="true"></i>
              <span class="text">{{ _('Dashboard') }}</span>
              <span class="badge">{{ new_activities }}</span>
            </a>
          </span>
          </li>
          <li>
            <span data-intro-group="explain-header" data-tooltipclass='introjs-ttip'  data-intro='Click here to create baskets and find information about existing baskets.' data-step="3">
            <a href="{{ h.url_for(controller='ckanext.basket.controllers.basket:BasketController', action='index') }}" title="{{ _('My Baskets') }}">
                 <i class="icon-archive" aria-hidden="true"></i>
                 <span class="text">{{ _('Baskets') }}</span>
            </a>
            </span>
          </li>
          {% block header_account_settings_link %}
            <li>
            <span data-intro-group="explain-header" data-tooltipclass='introjs-ttip'  data-intro='Selecting this item leads you to a form where you can change your profile settings.' data-step="4">

              <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                <i class="icon-cog" aria-hidden="true"></i>
                <span class="text">{{ _('Settings') }}</span>
              </a>
              </span>
            </li>
          {% endblock %}
          {% block header_account_log_out_link %}
            <li>
              <span data-intro-group="explain-header" data-tooltipclass='introjs-ttip'  data-intro='Click here to logout from our server.' data-step="5">
              <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                <i class="icon-signout" aria-hidden="true"></i>
                <span class="text">{{ _('Log out') }}</span>
              </a>
              </span>
            </li>
          {% endblock %}
            {% block header_introjs %}
            <li>
          <a  href="javascript:void(0);" onclick="javascript:introJs().setOption('tooltipClass', 'customDefault').setOption('showProgress', true).setOption('showStepNumbers', false).start('explain-header');" title="Explain me this header bar">
              <i class="icon-question-sign" aria-hidden="true"></i>
          </a>
            </li>
            {% endblock %}
          {% endblock %}
        </ul>
      </div>
    {% else %}
      <nav class="account not-authed">
        <ul class="unstyled">
          {% block header_account_notlogged %}
          <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
          {% if h.check_access('user_create') %}
            <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
          {% endif %}
          {% endblock %}
        </ul>
      </nav>
    {% endif %}

  {% endblock %}
</div>


</header>
  {% endblock %}

  {% block header_site_search %}
  {% endblock %}


{% block header_site_navigation %}
<nav class="navbar navbar-default" id="main-navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pull-left" href="{{ h.url('home') }}">
        <img src="/data_ccca_logo.png" class="navbar-brand-ccca" alt="{{ app_globals.site_title }}" title="{{ app_globals.site_title }}">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navigation-collapse" role="navigation">
      <div>
        <ul class="nav navbar-nav navbar-right">
            {{ h.build_nav_main(
              ('group_index', _('Groups')),
              ('organizations_index', _('Organizations')),
              ('search', _('Datasets')),
              ('about', _('About'))
            ) }}
          {#
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">{{ _('About') }} <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <a href="{{ h.url('/about') }}">{{ _("CCCA Data Centre") }}</a>
              </li>
              <li>
                <a href="{{ h.url('/about/usage') }}">{{ _('Usage Information') }}</a>
              </li>
              <li>
                <a href="{{ h.url('/about/citation') }}">{{ _('Citation and Identification') }}</a>
              </li>
              <li>
                <a href="{{ h.url('/about/download') }}">{{ _('Download and API') }}</a>
              </li>
              <li>
                <a href="{{ h.url('/about/data_policy') }}">{{ _('Data Policy') }}</a>
              </li>
              <li>
                <a href="{{ h.url('/about/credits') }}">{{ _('Acknowledgements') }}</a>
              </li>
            </ul>
          </li>
          <li class="search">
            <a href="{{ h.url_for(controller='package', action='search') }}" title="{{ _('Search') }}"><i class="icon-search" aria-hidden="true"></i></a>
          </li>
          #}
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
{% endblock %}
{% endblock %}
